.main{
    margin-top:90vh;
    border-bottom: 50px white solid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 10vh;
}
.mobileMain{
    margin-top:90vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.container{
    max-height:75vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: fadeIn;
    animation-duration: 2s;
}
.mobileContainer{
    max-height:75vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: fadeIn;
    animation-duration: 2s;
}
.header{
    text-align: center;
    z-index: 2;
}
.previewContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap:wrap;
}
.carContainer{
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-inline: 3vw;
    padding-block: 3vh;
    justify-content: center;
    align-items: center;
    border-radius: 2vw; 
    box-shadow: 0px 1px 30px black;
    transition: all 1s;
    animation: fadeIn;
    animation-duration:3s;
}

.carContainer:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1)
}
.imageContainer{
    box-shadow: 0 0 0 100vmax #121212;
    width:100vw;
    top: 110vh;
    position: absolute;
    clip-path: inset(0 -100vmax);
    
    animation: fadeIn; 
    animation-duration: 1s;
    display: flex;
    justify-content: space-around;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
